
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap');


body{
     background-color:rgba(177, 200, 207, 0.9);
}


    

.pictureMenu{
    /*width: 50px;
    height: 50px;
    list-style-type: none;
    border-style: dashed;
    border-color: white;*/
    
    padding-left:20px;
    position: relative;
   
    width:50px;
    height:50px;
    margin-right: 20px;
    padding-left:10px;
    margin-left: auto;
    align-items: left;
    margin-top: -20px;
    
    
}
    
.pictureMenu:hover{
    transition: .3s ease-in-out;
    width: 45px;
    
}


.txt{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    bottom: 45px;
    z-index: 120;
    cursor:pointer;
    
}

h1{
    font-size: 40px;
    align-items: center;
    text-align: center;
    color: green;
    color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -1px; line-height: 2; text-align: center;
    font-weight: bold;
    text-shadow: 
    rgba(0,0,0,0.5) -1px 0, 
	rgba(0,0,0,0.3) 0 -1px, 
    rgb(255, 0, 68)2px 2px, 
    rgba(0,0,0,0.3) -1px -2px;
    
   
}

#menu {
   
    width:350px;
    height:auto;
    
    columns:1;
    column-gap: 150px;
    margin-left: auto;
    margin-right: auto;
    
    
}

li {
    display:flex;
    position:relative;
    padding-bottom:30px;
    padding-top:10px;
    margin-top:auto;
    height:5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
     z-index: 150;
     
}

.menü{
    cursor: pointer;
    margin-bottom: -18px;
    border-bottom: solid;
}

.back{
    position:relative;
    
    
    width:600px;
    height: 1411px;
    background-color:rgba(94, 164, 185, 0.9);
    margin-left:auto;
    margin-right: auto;
    z-index: 100;
    border:solid;
}

 .Knopf{
    width: 80px;
    height: 30px;
    border:none;
    color: white;
    background-color: rgb(255, 0, 68);
    border-radius: 0px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 16;
  
}

.Knopf:hover{
    transition: .3s ease-in-out;
    width: 70px
}


.statistics{
    display: none;
}

#picture{
    display: flex;
   position: relative;
   height: 100px;
   width: 100px;
   align-items: center;
   border: 5px solid white;
   background-color:rgba(43, 157, 192, 0.9);
   margin-left: 620px;
   margin-top: -350px;
}

.nameee:hover{
    text-shadow: 
    rgba(145, 54, 54, 0.5) -1px 0, 
	rgba(0,0,0,0.3) 0 -1px, 
	rgba(255,255,255,0.5) 2px 2px, 
    rgba(0,0,0,0.3) -1px -2px;
   
}

.line{
    position: relative;
    width:600px;
    background-color: rgb(255, 0, 68);
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    
}

li{
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    
    
}

.backImg{
    height: 0px;
}

.backImgClass{
    width: 20px;
}

/*#next{ 
    width: 135px;
    height: 30px;
    border:none;
    color: white;
    background-color: rgb(255, 0, 68);
    border-radius: 0px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 16;
    margin-right: auto;
    margin-left: auto;
    
    
    
}

#next:hover{
    transition: .3s ease-in-out;
    width: 145px
}
*/
.Buttons{
    position: relative;
    align-items: center;
}

/*.textnextpage1{
    
    background-color:rgba(64, 158, 187, 0.9);
    margin-left: -40px;
    
}

.textnextpage2{
    
    background-color:rgba(79, 161, 185, 0.9);
    margin-left: -40px
}
.txt2{
    margin-left: 40px;
}
*/
